In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
df = pd.read_csv(r"C:\Users\Almog\Desktop\Data Science\Projects\Bank Customer Churn\SF\Customer-Churn-Records.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,2,DIAMOND,464
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,3,DIAMOND,456
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,3,DIAMOND,377
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,5,GOLD,350
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,5,GOLD,425

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

#### Data Preperation:

In [5]:
# altering 'Object' type faetures to thier actual Dtype:
# String columns
str_features = df[['Card Type','Gender','Geography']]

for col in str_features:
    df[col] = df[col].astype('string')
    
# boolean columns
bool_cols = df[['HasCrCard','IsActiveMember','Exited','Complain']]

for col in bool_cols:
    df[col] = df[col].astype('bool')

# dropping irrelevant columns
df = df.drop(columns = ['RowNumber','CustomerId','Surname'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CreditScore         10000 non-null  int64
 1   Geography           10000 non-null  string
 2   Gender              10000 non-null  string
 3   Age                 10000 non-null  int64
 4   Tenure              10000 non-null  int64
 5   Balance             10000 non-null  float64
 6   NumOfProducts       10000 non-null  int64
 7   HasCrCard           10000 non-null  bool
 8   IsActiveMember      10000 non-null  bool
 9   EstimatedSalary     10000 non-null  float64
 10  Exited              10000 non-null  bool
 11  Complain            10000 non-null  bool
 12  Satisfaction Score  10000 non-null  int64
 13  Card Type           10000 non-null  string
 14  Point Earned        10000 non-null  int64
dtypes: bool(4), float64(2), int64(6), string(3)
memory usage: 898.6 KB

In [21]:
# Checking values for Traget column
df['Exited'].value_counts()

Exited
False    7962
True     2038
Name: count, dtype: int64

In [23]:
df.to_pickle(r"C:\Users\Almog\Desktop\Data Science\Projects\Bank Customer Churn\Pickle files\DataPrep_BCC.pkl")